body {
  font-family: Roboto, sans-serif;
  font-weight: lighter;
  letter-spacing: 1px;
}

main {
  display: block;
  margin: 0 20% 0 20%;
}

nav {
  display: flex;
  justify-content: center;
  font-weight: bold;
  text-transform: uppercase;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 20px;
  overflow: hidden;
  background-color: white;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: black;
  padding: 20px;
  text-decoration: none;
}

nav li a:hover {
  color: white;
  background-color: #5ecc62;
}

a {
  font-weight: bold;
  text-decoration: none;
  color:black;
}

a:visited {
  color:black;
}

a:hover {
  color: #5ecc62;
}

ul {
  list-style-type: none;
}

h3 {
  font-weight: lighter;
  font-size: 2em;
  color: #5ecc62;
}

p {
  font-size: 1em;
  line-height: 2em;
}
